@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
}

:root {
    --cor-azul00: #0C479D;
    --cor-azul01: #1f42be;
    --cor-azul02: #0167ff;

    --cor-preto01: #1e1e1e;
    --cor-preto02: #000;

    --font-size--small: 13px;
    --font-size--medium: 20px;
    --font-size--large: 36px;
    --font-size--x-large: 42px;

    --fonte-padrao: "Nunito", sans-serif;
}

body {
    background-color: #e7f5ff;
}
nav {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #f0f0f0;
}
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f0f0f0;
    font-family:var(--fonte-padrao);
    width: 1100px;
}
#img-logo {
    width: 120px;
    height: auto;
    padding: 10px;
}
#links a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
    padding: 10px;
    display: inline-block;

}
#links a:hover {
    text-decoration: underline;
    color: var(--cor-azul01);
    transition: .5s;
    font-weight: bold;
}
.botao a > h1 {
    font-size: 18px;
    font-family: var(--fonte-padrao);
    background-color:var(--cor-azul01);
    color: #fff;
    padding: 10px 20px;
    text-decoration: underline;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 20px;
}
.botao a>h1:hover {
    background-color: #000;
    transition: .5s;
}

/* Plataforma*/
header {
    background-image: linear-gradient(to right, var(--cor-azul02), var(--cor-azul00));
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > h1 {
    color: white;
    font-family:var(--fonte-padrao);
    font-weight: 400;
}

/* carrossel */
.wrapper {
    width: 100%;
    height: 58vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);

    background-color: var(--cor-azul00);
}

.card > .row {
    color: #000;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #0167ff;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #fff;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
    font-family: var(--fonte-padrao);
    color: #fff;
}

.container > input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('telab1.png');
}
.card[for="c2"] {
    background-image: url('imgb1.png');
}
.card[for="c3"] {
    background-image: url('telab2.png');
}
.card[for="c4"] {
    background-image: url(''imgb2.png'');
}

/* sessão 1 */
h2, p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 20px;
}
.saiba-mais {    
    color:#e7f5ff;
    text-decoration: none;
}
.saiba-mais > p {
    color:#e7f5ff;
    padding-top: 10px;
}
.saiba-mais:hover {
    text-decoration: underline;
}
#introducao {
    background: linear-gradient(var(--cor-azul02), #000);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family:var(--fonte-padrao);
    font-size: 2.0em;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#conteudo-introducao {
    max-width: 600px;
    padding: 20px;
    display: block;
    text-align: justify;
}
#conteudo-introducao > h2 {
    font-size: 1.5em;
    text-align: left;
    line-height: 1.2em;
    padding-bottom: 5px;
}
#section {
    display: flex;
    align-items:center;
}
#botao-introducao {
    padding: 10px;
}

/* manifesto */
.manifesto {
    background: linear-gradient(var(--cor-azul02), #000);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family:var(--fonte-padrao);

    display: flex;
    align-items: center;
    justify-content: center;
}
#conteudo-manifesto {
    display: flex;
    justify-content: center;
    align-items: center;
}
#lista-manifesto {
    color: #fff;
    max-width: 450px;
    text-align: justify;
    padding: 20px;
    display: block;
    font-size: 1.3em;
}
#lista-manifesto > h2{
    font-size: 2em;
    padding: 10px;
    line-height: 1em;
}

div.exterior-video {
    width: 560px;
    padding: 20px;
}
/* Sessão 2 */
#plataforma {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
#texto-plataforma {
    max-width: 450px;
}
#texto-plataforma > h2 {
    font-size: 3em;
    padding-bottom: 20px;
    color: var(--cor-azul02);
}
#texto-plataforma > p {
    padding-right: 20px;
    color: var(--cor-azul02);
}
#img-pc {
    display: block;
}
#img-pc > img {
    height: 250px;
    width: auto;
}

/* Conteudos */
#conteudos {
    max-width: 800px;
    height: 400px;
    border-radius: 20px;
    background-color: #fff;
    margin: auto;
    box-shadow: 2px 1px 10px #02153070;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-conteudos {
    width: 450px;
    height: 350px;
    border-radius: 20px;
    text-align: center;
}

.texto-conteudos > h2 {
    color: var(--cor-azul02);
    font-size: 2em;
}

/*funcionalidades*/
#funcionalidades {
    max-height: 550px;
    max-width: 1000px;
    margin: auto;
    font-family: var(--fonte-padrao);
    color: var(--cor-azul02);
    text-align: center;
    padding: 50px;
}
#funcionalidades > h2 {
    display: inline-block;
    padding: 20px;
    font-size:2.8em;
    color: var(--cor-azul02);
}
#funcionalidades > ul {
    columns: 2;
    color: var(--cor-azul02);
    text-align: left;
}
#funcionalidades > ul > li {
    padding: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .5rem; /* Reduz o espaçamento entre o ícone e o texto */
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.25rem; /* Reduz o padding vertical e horizontal */
    padding-left: 25px; /* Ajusta o padding à esquerda para acomodar o ícone */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
.button__icon-wrapper {
    flex-shrink: 0;
    width: 20px; /* Reduz o tamanho do contêiner do ícone */
    height: 20px; /* Reduz o tamanho do contêiner do ícone */
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
.button:hover {
    background-color: #000;
  }
.button:hover .button__icon-wrapper {
    color: #000;
  }
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
.button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
.button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }

/* rodapé */
footer {
    margin-top: 20px;
    max-height: 500px;
    background-image: linear-gradient(to right, #1e1e1e, #000 );
    padding: 20px;
}
#topo-rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
#topo-rodape > img {
    width: 150px;
    height: auto;
}

.redes-sociais {
    display: flex;
    flex-direction: column; /* Alinha os links um abaixo do outro */
    align-items: flex-end; /* Alinha os links à direita */
}
.redes-sociais a {
    text-decoration: none;
    font-family: var(--fonte-padrao);
    color: #fff; /* Cor dos links */
}
.redes-sociais a:hover {
    text-decoration: underline;
}
.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}
.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}
.example-2 .icon-content a:hover {
    color: white;
}
.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
    height: 100%;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
        45deg,
        #0167ff,
        #0167ff,
        #0167ff,
        #0167ff,
        #0167ff,
        #0167ff
);
font-family: var(--fonte-padrao);
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #0167ff;
    font-family: var(--fonte-padrao);
} 

#meio-rodape {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin: auto;
    padding: 50px;
}
#texto-rodape {
   max-width: 450px;
}
.input {
    font-family: var(--fonte-padrao);
    font-weight: 500;
    font-size: .9vw;
    color: #000000;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    max-width: 250px;
    transition: .4s;
  }
  
  .input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
  }
  
  .input:focus {
    box-shadow: 0 0 0 .15vw skyblue;
  }

.subscribe-button {
    background-color: #1e1e1e;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    cursor: pointer;    
    transition: background-color 0.3s ease, color 0.3s ease;
}
.subscribe-button:hover {
    background-color: #0167ff;
    text-decoration: underline;
    transition: .5s;
}

#finalizacao {
    display: flex;
    justify-content:space-between;
}
#finalizacao > p {
    font-size: var(--font-size--small);
}
