@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
}

:root {
    --cor-azul00: #0C479D;
    --cor-azul01: #1f42be;
    --cor-azul02: #0167ff;

    --cor-preto01: #1e1e1e;
    --cor-preto02: #000;

    --font-size--small: 13px;
    --font-size--medium: 20px;
    --font-size--large: 36px;
    --font-size--x-large: 42px;

    --fonte-padrao: "Nunito", sans-serif;
}

body {
    background-color: #e7f5ff;
}
main {
    background-color: #0C479D;
}   
nav {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #f0f0f0;
}
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f0f0f0;
    font-family:var(--fonte-padrao);
    width: 1100px;
}
#img-logo {
    width: 120px;
    height: auto;
    padding: 10px;
}
#links a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
    padding: 10px;
    display: inline-block;

}
#links a:hover {
    text-decoration: underline;
    color: var(--cor-azul01);
    transition: .5s;
    font-weight: bold;
}
.botao a > h1 {
    font-size: 18px;
    font-family: var(--fonte-padrao);
    background-color:var(--cor-azul00);
    color: #fff;
    padding: 10px 20px;
    border-radius: 0px 20px;
    text-decoration: underline;
}
.botao a>h1:hover {
    background-color: var(--cor-azul02);
    border-radius: 20px;
    transition: .5s;
    font-size: 20px;
}

/* Plataforma*/
header {
    background-image: linear-gradient(to right, var(--cor-azul02), var(--cor-azul00));
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > h1 {
    color: white;
    font-family:var(--fonte-padrao);
    font-weight: 400;
}

/* carrossel */
.wrapper {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./img1.jpeg');
}
.card[for="c2"] {
    background-image: url('./img2.jpeg');
}
.card[for="c3"] {
    background-image: url('./img3.jpeg');
}
.card[for="c4"] {
    background-image: url('./img4.jpeg');
}

/* sessão 1 */
h2, p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 20px;
}
.saiba-mais {    
    color: var(--cor-azul00);
    text-decoration: none;
}
.saiba-mais > p {
    color: var(--cor-azul02);
    padding-top: 10px;
}
.saiba-mais:hover {
    text-decoration: underline;
}
#introducao {
    background: linear-gradient(var(--cor-azul02), #000);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family:var(--fonte-padrao);
    font-size: 2.0em;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#conteudo-introducao {
    max-width: 600px;
    padding: 20px;
    display: block;
    text-align: justify;
}
#conteudo-introducao > h2 {
    font-size: 1.5em;
    text-align: left;
    line-height: 1.2em;
    padding-bottom: 5px;
}
#section {
    display: flex;
    align-items:center;
}
#botao-introducao {
    padding: 10px;
}

/* manifesto */
.manifesto {
    background: linear-gradient(var(--cor-azul02), #000);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family:var(--fonte-padrao);

    display: flex;
    align-items: center;
    justify-content: center;
}
#conteudo-manifesto {
    display: flex;
    justify-content: center;
    align-items: center;
}
#lista-manifesto {
    color: #fff;
    max-width: 450px;
    text-align: justify;
    padding: 20px;
    display: block;
    font-size: 1.3em;
}
#lista-manifesto > h2{
    font-size: 2em;
    padding: 10px;
    line-height: 1em;
}

div.exterior-video {
    width: 560px;
    padding: 20px;
}

/* Sessão 2 */
#plataforma {
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#texto-plataforma {
    max-width: 450px;
}
#texto-plataforma > h2 {
    font-size: 3em;
    padding-bottom: 20px;
    color: var(--cor-azul02);
}
#texto-plataforma > p {
    padding-right: 20px;
    color: var(--cor-azul02);
}
#img-pc {
    display: block;
}
#img-pc > img {
    height: 250px;
    width: auto;
}

/* Conteudos */
#conteudos {
    min-width: none;
    max-width: 1000px;
    height: 500px;
    border-radius: 20px;
    background-color: #fff;
    margin: auto;
    box-shadow: 2px 1px 10px #02153070;
}

/*funcionalidades*/
#funcionalidades {
    max-height: 550px;
    max-width: 1000px;
    margin: auto;
    font-family: var(--fonte-padrao);
    color: var(--cor-azul02);
    text-align: center;
    padding: 50px;
}
#funcionalidades > h2 {
    display: inline-block;
    padding: 20px;
    font-size:2.8em;
    color: var(--cor-azul02);
}
#funcionalidades > ul {
    columns: 2;
    color: var(--cor-azul02);
    text-align: left;
}
#funcionalidades > ul > li {
    padding: 5px;
    font-weight: bold;
    font-size: 1.2em;
}
#botao-funcionalidades {
    display: inline-block;
    padding: 20px;
}


/* rodapé */
footer {
    margin-top: 20px;
    max-height: 500px;
    background-image: linear-gradient(to right, #1e1e1e, #000 );
    padding: 20px;
}
#topo-rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
#topo-rodape > img {
    width: 150px;
    height: auto;
}

#meio-rodape {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin: auto;
    padding: 50px;
}
#texto-rodape {
   max-width: 450px;
}
#email {
    border-radius: 50px;
    background-color: #000;
    padding: 5px;
}
#email > input {
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 50px;
    padding: 5px;
}

#finalizacao {
    display: flex;
    justify-content:space-around;
}
#finalizacao > p {
    font-size: var(--font-size--small);
}