@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
}

:root {
    --cor-azul00: #0C479D;
    --cor-azul01: #1f42be;
    --cor-azul02: #0167ff;

    --cor-preto01: #1e1e1e;
    --cor-preto02: #000;

    --font-size--small: 13px;
    --font-size--medium: 20px;
    --font-size--large: 36px;
    --font-size--x-large: 42px;

    --fonte-padrao: "Nunito", sans-serif;
}

/* menu */
nav {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #f0f0f0;
}
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f0f0f0;
    font-family:var(--fonte-padrao);
    width: 1100px;
}
#img-logo {
    width: 120px;
    height: auto;
    padding: 10px;
}
#links a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
    padding: 10px;
    display: inline-block;

}
#links a:hover {
    color: var(--wp--preset--color--vivid-cyan-blue);
    text-decoration: underline;
    color: var(--cor-azul01);
    transition: .5s;
    font-weight: bold;
}
.botao a > h1 {
    font-size: 18px;
    font-family: var(--fonte-padrao);
    background-color:var(--cor-azul02);
    color: #fff;
    padding: 10px 20px;
    border-radius: 0px 20px;
    text-decoration: underline;
}
.botao a>h1:hover {
    background-color: var(--cor-azul02);
    border-radius: 20px;
    transition: .5s;
    font-size: 20px;
}

/* Plataforma*/
header {
    background-image: linear-gradient(to right, var(--cor-azul02), var(--cor-azul01));
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > h1 {
    color: white;
    font-family:var(--fonte-padrao);
    font-weight: 400;
}

/* carrossel */
.carousel {
    width: 100%;
    height: 400px;
    position: relative;
}
.slides {
    width: 100%;
    height: 100%;
    position: absolute;
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navigation {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.navigation label {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}
#slide1:checked ~ .slides .slide:nth-child(1),
#slide2:checked ~ .slides .slide:nth-child(2),
#slide3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

/* sessão 1 */
h2, p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 20px;
}
.saiba-mais {    
    color: var(--cor-azul00);
    text-decoration: none;
}
.saiba-mais > p {
    color: var(--cor-azul00);
    padding-top: 10px;
}
.saiba-mais:hover {
    text-decoration: underline;
}
#introducao {
    background: #000;
    height: 450px;
    font-family:var(--fonte-padrao);
    font-size: 2.0em;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#conteudo-introducao {
    max-width: 600px;
    padding: 20px;
    display: block;
    text-align: justify;
}
#conteudo-introducao > h2 {
    font-size: 1.5em;
    text-align: left;
    line-height: 1.2em;
    padding-bottom: 5px;
}
#section {
    display: flex;
    align-items:center;
}

#botao-introducao {
    padding: 10px;
}

/* Parallax */
.parallax {
    /* A imagem que você deseja usar como fundo */
    background: linear-gradient(#0C479D, #000);
    /* Altura específica para a div parallax */
    min-height: 700px;
    /* Cria o efeito parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:var(--fonte-padrao);

    display: flex;
    align-items: center;
    justify-content: center;
}
#conteudo-parallax {
    display: flex;
    justify-content: center;
    align-items: center;
}
#lista-parallax {
    color: #fff;
    max-width: 450px;
    text-align: justify;
    padding: 20px;
    display: block;
    font-size: 1.2em;
}
#lista-parallax > h2{
    font-size: 1.2em;
    padding: 10px;
}

div.exterior-video {
    width: 660px;
    padding: 20px;
}

/* Sessão 2 */
#plataforma {
    background-color: #000;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#plataforma > p {
    max-width: 450px;
    padding-right: 20px;
    text-align: justify;
}
#img-pc {
    display: block;
}
#img-pc > img {
    height: 250px;
    width: auto;
}


/*funcionalidades*/
#funcionalidades {
    max-height: 550px;
    max-width: 1000px;
    margin: auto;
    font-family: var(--fonte-padrao);
    color: var(--cor-azul02);
    text-align: center;
}
#funcionalidades > h2 {
    display: inline-block;
    padding: 20px;
    font-size:2em;
    color: var(--cor-azul02);
}
#funcionalidades > ul {
    columns: 2;
    color: var(--cor-azul02);
    text-align: left;
}
#funcionalidades > ul > li {
    padding: 5px;
    font-weight: bold;
}
#botao-funcionalidades {
    display: inline-block;
    padding: 20px;
}


/* rodapé */
footer {
    margin-top: 20px;
    max-height: 500px;
    background-image: linear-gradient(to right, #0167FF, #013E99 );
    padding: 20px;
}
#topo-rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
#topo-rodape > img {
    width: 150px;
    height: auto;
}

#meio-rodape {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin: auto;
    padding: 50px;
}
#texto-rodape {
   max-width: 450px;
}
#email {
    border-radius: 50px;
    background-color: #013E99;
    padding: 5px;
}
#email > input {
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 50px;
    padding: 5px;
}

#finalizacao {
    display: flex;
    align-items: center;
    justify-content:space-around;
}
#finalizacao > p {
    font-size: var(--font-size--small);
}



