@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
}

:root {
    --cor-azul01: #1f42be;
    --cor-azul02: #0167ff;
    --cor-preto01: #1e1e1e;
    --cor-preto02: #000;

    --font-size--small: 13px;
    --font-size--medium: 20px;
    --font-size--large: 36px;
    --font-size--x-large: 42px;

    --fonte-padrao: "Nunito", sans-serif;
}

/* menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    font-family:var(--fonte-padrao)
}
#img-logo {
    width: 100px;
    height: auto;
    padding: 10px;
}
#links a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}
#links a:hover {
    color: var(--wp--preset--color--vivid-cyan-blue);
    text-decoration: underline;
}
.botao a > h1 {
    font-size: 18px;
    font-family: var(--fonte-padrao);
    background-color:var(--cor-azul01);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px;
}

/* Plataforma*/
header {
    background-image: linear-gradient(to right, var(--cor-azul02), var(--cor-azul01));
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > h1 {
    color: white;
    font-family:var(--fonte-padrao);
    font-weight: 400;
}

/* carrossel */
.carousel {
    width: 100%;
    height: 400px;
    position: relative;
}
.slides {
    width: 100%;
    height: 100%;
    position: absolute;
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navigation {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.navigation label {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}
#slide1:checked ~ .slides .slide:nth-child(1),
#slide2:checked ~ .slides .slide:nth-child(2),
#slide3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

/* sessões e parallax*/
h2, p {
    color: #3b66fd;
    font-family: var(--fonte-padrao);
    font-size: 20px;
}
#introducao {
    background: #000;
    padding: 30px;
    height: 250px;
    font-family:var(--fonte-padrao);
    font-size: 1 .5em;
}

.parallax {
    /* A imagem que você deseja usar como fundo */
    background: linear-gradient(#051B3B, #000);
    /* Altura específica para a div parallax */
    min-height: 800px;
    /* Cria o efeito parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:var(--fonte-padrao);

}


/*funcionalidades*/
#funcionalidades {
    height: 350px;
    max-width: 1000px;
    margin: auto;
    font-family: var(--fonte-padrao);
    color: var(--cor-azul02);
    text-align: center;
}
#funcionalidades > h1 {
    display: inline-block;
    padding: 20px;
    font-size:2em;
}
#funcionalidades > ul {
    columns: 2;
    color: var(--cor-azul02);
}
#funcionalidades > ul > li {
    padding: 5px;
    font-weight: bold;
}
#botao-funcionalidades {
    display: inline-block;
    padding: 20px;

}


/* rodapé */
footer {
    margin-top: 20px;
    height: 200px;
    background-image: linear-gradient(to right, #0167FF, #013E99 );
}

